<div class="flex h-full w-full flex-col items-center pt-9">
  <div class="flex h-full w-full max-w-[664px] flex-col gap-5">
    <div
      [ngClass]="{ 'bg-white px-2 py-2 shadow-sm': isEditing }"
      class="relative flex h-full max-h-11 w-full items-center gap-3 rounded-xl"
    >
      <app-icon-picker *ngIf="isEditing"></app-icon-picker>
      <i
        *ngIf="todoList?.icon?.includes('ph') && !isEditing"
        [ngClass]="todoList?.icon"
        class="ph-bold text-xl dark:text-white"
      ></i>
      <app-dona-svg
        *ngIf="todoList?.icon?.includes('dona') && !isEditing"
        [ngClass]="[todoList?.icon, !isEditing ? 'opacity-100' : '']"
        twClasses="h-7"
        class="opacity-0 transition-opacity duration-500"
      ></app-dona-svg>

      <div class="group flex w-full items-center gap-2">
        <input
          #listNameEditorInput
          *ngIf="this.isEditing"
          [value]="this.todoList?.name"
          type="text"
          placeholder="List name"
          (blur)="this.isEditing = false"
          (keyup.escape)="this.isEditing = false"
          (keyup.enter)="this.handleEditList(listNameEditorInput)"
          class="flex bg-transparent text-xl font-medium text-[#25292C] outline-none placeholder:text-base"
        />
        <h1
          *ngIf="!this.isEditing"
          class="flex text-ellipsis text-xl font-medium text-[#25292C] dark:text-zinc-50"
        >
          {{ this.todoList?.name }}
        </h1>

        <div class="relative">
          <app-actions-button
            *ngIf="!isEditing"
            (click)="openDropdown()"
            [ngClass]="{ '-translate-x-0 opacity-100': isActionsOpen }"
            class="flex h-8 w-8 translate-x-1 rounded-lg p-1 opacity-0 transition-all duration-300 group-hover:translate-x-0 group-hover:opacity-100"
          ></app-actions-button>

          <div
            *ngIf="isActionsOpen"
            appDropdown
            (dropdownVisible)="closeDropdown($event)"
            [ngClass]="{ 'opacity-100': isActionsOpen }"
            class="absolute left-0 top-9 z-10 flex w-full max-w-[148px] opacity-0 shadow transition-opacity duration-1000"
          >
            <app-actions-dropdown
              (onEdit)="this.isEditing = true; this.isActionsOpen = false"
            ></app-actions-dropdown>
          </div>
        </div>
      </div>
    </div>

    <div class="flex h-full w-full flex-col gap-4 overflow-y-auto pl-11 pr-2">
      <div
        [ngClass]="{
          'bg-white dark:bg-[#2f343d] dark:shadow-addTodoBar': isCreatingTodo
        }"
        class="group relative flex w-full items-center gap-3 rounded-xl bg-[#E0E0E6] py-3 pr-6 shadow transition-all duration-500 dark:bg-addTodoBar-dark"
      >
        <input
          #fakeCheckbox
          disabled
          [ngClass]="{ 'left-6 opacity-100': isCreatingTodo }"
          type="checkbox"
          class="absolute left-0 h-5 w-5 cursor-not-allowed appearance-none rounded-[7px] bg-[#e9ecef] opacity-0 transition-all duration-300 focus:outline-none dark:bg-checkbox-dark"
        />

        <input
          #addTodoInput
          [ngClass]="{ 'pl-[56px]': isCreatingTodo }"
          class="w-full bg-transparent pl-6 outline-none transition-all duration-300 group-focus:bg-white dark:text-white dark:caret-white"
          type="text"
          (click)="isCreatingTodo = true"
          (blur)="onBlur(addTodoInput)"
          (keyup.enter)="onCreateTodo(addTodoInput)"
          placeholder="Write a new task"
        />

        <div
          [ngClass]="{ 'opacity-100': !isCreatingTodo }"
          class="relative flex items-center gap-[3px] opacity-0 transition-opacity duration-300"
        >
          <span
            *ngIf="!isEditing"
            class="flex h-5 w-5 items-center justify-center rounded-lg bg-[#d4d7da] text-center text-xs font-semibold text-[#616870] dark:bg-sideBar-itemLength-dark dark:text-sideBar-itemLength-dark"
          >
            <i class="ph-bold ph-command"></i>
          </span>
          <span
            *ngIf="!isEditing"
            class="flex h-5 w-5 items-center justify-center rounded-lg bg-[#d4d7da] text-center text-xs font-semibold text-[#616870] dark:bg-sideBar-itemLength-dark dark:text-sideBar-itemLength-dark"
          >
            E
          </span>
        </div>
      </div>

      <div
        class="flex h-full w-full flex-col gap-1"
        cdkDropList
        (cdkDropListDropped)="drop($event)"
      >
        <app-todo
          cdkDrag
          *ngFor="
            let todo of todoList?.todos?.reverse();
            let first = first;
            let last = last
          "
          [todo]="todo"
          [firstChild]="first"
          [lastChild]="last"
        ></app-todo>

        <div
          *ngIf="!todoList?.todos?.length"
          class="flex h-full w-full items-center justify-center"
        >
          <span class="-translate-y-[60px] font-medium text-[#cfd2d5]"
            >You're all set
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
