<div class="w-full h-full pt-10 flex flex-col items-center">
  <div class="max-w-[664px] w-full h-full flex flex-col gap-8">
    <div
      [ngClass]="{ 'bg-white px-1 py-2': isEditing }"
      class="w-full h-full max-h-12 relative gap-6 flex items-center rounded-xl"
    >
      <app-icon-picker *ngIf="isEditing"></app-icon-picker>
      <i
        *ngIf="todoList?.icon && !isEditing"
        [ngClass]="todoList?.icon"
        class="ph-bold text-xl"
      ></i>
      <app-dona-svg
        *ngIf="!isEditing"
        [ngClass]="{ 'opacity-100': !isEditing }"
        class="opacity-0 stroke-accent-yellow"
      ></app-dona-svg>

      <div class="group flex items-center justify-center gap-2">
        <input
          #listNameEditorInput
          *ngIf="this.isEditing"
          [value]="this.todoList?.name"
          type="text"
          placeholder="Insert a new name for this list"
          (blur)="listNameEditorInput.value = ''; this.isEditing = false"
          (keyup.escape)="this.isEditing = false"
          (keyup.enter)="this.handleEditList(listNameEditorInput)"
          class="flex bg-transparent placeholder:text-base text-xl font-semibold text-[#25292C] outline-none"
        />
        <h1
          *ngIf="!this.isEditing"
          class="flex text-xl font-semibold text-[#25292C] dark:text-zinc-50 text-ellipsis"
        >
          {{ this.todoList?.name }}
        </h1>

        <button
          title="Actions"
          type="button"
          (click)="toggleActions()"
          class="invisible flex p-1 items-center justify-center rounded group-hover:visible hover:bg-[#ECEFF2] transition-colors duration-300"
        >
          <i class="ph-bold ph-dots-three-vertical"></i>
        </button>
      </div>

      <div class="relative left-0 w-full">
        <app-actions-dropdown
          *ngIf="this.isActionsOpen"
          (onEdit)="this.isEditing = true; this.isActionsOpen = false"
          (blur)="this.isActionsOpen = false"
        ></app-actions-dropdown>
      </div>
    </div>

    <div
      class="w-full h-full flex flex-col pl-[44px] pr-2 gap-6 overflow-y-auto"
    >
      <div
        [ngClass]="{ 'bg-white': isCreatingTodo }"
        class="group group-:bg-white relative w-full pr-6 py-3 gap-3 flex items-center bg-[#E0E0E6] rounded-xl shadow transition-colors duration-300"
      >
        <input
          #fakeCheckbox
          disabled
          [ngClass]="{ 'opacity-100 left-6': isCreatingTodo }"
          type="checkbox"
          class="w-5 h-5 absolute left-0 opacity-0 bg-[#e9ecef] rounded-[7px] appearance-none cursor-not-allowed focus:outline-none transition-all duration-500"
        />

        <input
          #addTodoInput
          [ngClass]="{ 'pl-[56px]': isCreatingTodo }"
          class="w-full pl-6 bg-transparent outline-none group-focus:bg-white transition-all duration-300"
          type="text"
          (click)="isCreatingTodo = true"
          (blur)="onBlur(addTodoInput)"
          (keyup.enter)="onCreateTodo(addTodoInput)"
          placeholder="Write a new task"
        />

        <div
          [ngClass]="{ 'opacity-100': !isCreatingTodo }"
          class="relative opacity-0 flex items-center gap-[3px] transition-opacity duration-300"
        >
          <span
            *ngIf="!isEditing"
            class="bg-[#d4d7da] w-5 h-5 flex items-center justify-center text-[#616870] text-xs font-semibold text-center rounded-[7px]"
          >
            <i class="ph-bold ph-command"></i>
          </span>
          <span
            *ngIf="!isEditing"
            class="bg-[#d4d7da] w-5 h-5 flex items-center justify-center text-[#616870] text-xs font-semibold text-center rounded-[7px]"
          >
            E
          </span>
        </div>
      </div>

      <div
        class="w-full h-full flex flex-col gap-1"
        cdkDropList
        (cdkDropListDropped)="drop($event)"
      >
        <app-todo
          cdkDrag
          *ngFor="
            let todo of todoList?.todos?.reverse();
            let first = first;
            let last = last
          "
          [todo]="todo"
          [firstChild]="first"
          [lastChild]="last"
        ></app-todo>

        <div
          *ngIf="!todoList?.todos?.length"
          class="w-full h-full flex items-center justify-center"
        >
          <span class="text-[#cfd2d5] font-medium -translate-y-[60px]"
            >You're all set
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
