<div class="relative">
  <div
    id="Todo"
    [ngClass]="{
      'rounded-t-2xl': firstChild,
      'rounded-b-2xl': lastChild
    }"
    class="group w-ful.l px-6 py-3 bg-white/75 rounded-lg flex items-center justify-between"
  >
    <div class="w-full flex gap-3 items-center">
      <div
        class="w-5 h-5 relative bg-[#E9E9E9] hover:bg-[#D9D9D9] rounded-[7px] overflow-clip transition-colors duration-300"
      >
        <input
          #input
          type="checkbox"
          placeholder="To-do description"
          class="peer w-full h-full relative appearance-none cursor-pointer after:absolute after:checked:bg-black after:inset-0 after:h-full after:w-full after:content-[''] after:transition-opacity after:duration-500 focus:outline-none"
          [checked]="todo.isComplete"
          (click)="onComplete(input.checked)"
        />
        <i
          *ngIf="input.checked"
          class="ph-bold ph-check text-white absolute inset-0 m-auto pointer-events-none font-xs"
        ></i>
      </div>
      <input
        #todoInput
        *ngIf="isEditing"
        type="text"
        placeholder="Insert a new to-do description"
        (blur)="isEditing = false"
        (keyup.enter)="
          onEdit(todo.id, todo.todoListId, todoInput.value); todoInput.blur()
        "
        [value]="todo.description"
        class="w-full text-sm bg-transparent outline-none"
      />
      <span
        *ngIf="!isEditing"
        class="text-sm text-[#4B4B4B] peer-checked:text-gray-400 peer-checked:line-through"
        >{{ todo.description }}</span
      >
    </div>

    <div class="h-full flex items-center justify-center">
      <button
        title="Actions"
        type="button"
        (click)="isActionsOpen = true"
        class="invisible flex p-1 items-center justify-center rounded group-hover:visible hover:bg-[#ECEFF2] transition-colors duration-300"
      >
        <i class="ph-bold ph-dots-three-vertical pointer-events-none"></i>
      </button>
    </div>
  </div>

  <div
    *ngIf="isActionsOpen"
    [ngClass]="{ 'opacity-100': isActionsOpen }"
    class="opacity-0 max-w-[148px] w-full absolute z-10 top-[52px] right-0 flex flex-col p-1 gap-1 bg-white rounded-[11px] shadow transition-opacity duration-1000"
  >
    <app-actions-dropdown
      (onEdit)="isEditing = true"
      (onDuplicate)="onDuplicate()"
      (onDelete)="onDelete(todo.id, todo.todoListId)"
      (blur)="isActionsOpen = false"
    ></app-actions-dropdown>
  </div>
</div>
