<div
  class="w-full px-6 py-3 bg-white/75 rounded-xl flex items-center justify-between"
>
  <div class="flex gap-3 items-center">
    <div
      class="w-5 h-5 bg-[#E9E9E9] hover:bg-[#D9D9D9] rounded overflow-clip transition-colors"
    >
      <input
        #input
        (click)="log(input)"
        class="peer w-full h-full relative appearance-none cursor-pointer after:absolute after:checked:bg-black after:inset-0 after:h-full after:w-full after:content-[''] focus:outline-none"
        [checked]="todo?.isComplete"
        type="checkbox"
        placeholder="To-do description"
      />
    </div>
    <span
      class="text-[#4B4B4B] peer-checked:text-gray-400 peer-checked:line-through"
      >{{ todo?.description }}</span
    >
  </div>

  <div class="h-full flex items-center justify-center">
    <button
      title="Actions"
      type="button"
      class="flex p-1 items-center justify-center rounded bg-[#E9E9E9] hover:bg-[#D9D9D9] transition-colors"
    >
      <i class="ph-bold ph-dots-three-vertical"></i>
    </button>
  </div>
</div>
