<div class="relative">
  <div
    id="Todo"
    [ngClass]="{
      'rounded-t-2xl': firstChild,
      'rounded-b-2xl': lastChild
    }"
    class="w-ful.l group flex items-center justify-between rounded-lg bg-white/75 px-6 py-3 dark:bg-todoItem-dark"
  >
    <div class="flex w-full items-center gap-3">
      <label class="peer cursor-pointer">
        <input
          #checkbox
          type="checkbox"
          placeholder="To-do description"
          class="peer hidden"
          [checked]="todo.isComplete"
          (click)="onComplete(checkbox.checked)"
        />

        <div
          class="pointer-events-none relative h-5 w-5 overflow-clip rounded-[7px] bg-[#E9E9E9] transition-colors duration-300 hover:bg-[#D9D9D9] peer-checked:bg-black dark:bg-checkbox-dark"
        >
          <i
            *ngIf="checkbox.checked"
            class="ph-bold ph-check absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2 text-xs text-white"
          ></i>
        </div>
      </label>

      <input
        #todoInput
        *ngIf="isEditing"
        type="text"
        placeholder="Insert a new to-do description"
        (blur)="isEditing = false"
        (keyup.enter)="
          onEdit(todo.id, todo.todoListId, todoInput.value); todoInput.blur()
        "
        [value]="todo.description"
        class="w-full bg-transparent text-sm outline-none"
      />

      <span
        *ngIf="!isEditing"
        class="text-sm text-[#4B4B4B] decoration-black transition-all peer-checked:text-black peer-checked:line-through dark:text-white dark:decoration-white dark:peer-checked:text-gray-400"
        >{{ todo.description }}</span
      >
    </div>

    <div class="flex h-full items-center justify-center">
      <button
        title="Actions"
        type="button"
        (click)="openDropdown()"
        class="invisible flex items-center justify-center rounded p-1 transition-colors duration-300 hover:bg-[#ECEFF2] group-hover:visible dark:hover:bg-white/10"
      >
        <i
          class="ph-bold ph-dots-three-vertical pointer-events-none dark:text-white"
        ></i>
      </button>
    </div>
  </div>

  <div
    *ngIf="isActionsOpen"
    appDropdown
    (dropdownVisible)="closeDropdown($event)"
    [ngClass]="{ 'opacity-100': isActionsOpen }"
    class="absolute right-0 top-[52px] z-10 flex w-full max-w-[148px] flex-col gap-1 rounded-xl bg-white p-1 opacity-0 shadow transition-opacity duration-1000 dark:bg-actionsDropdown-dark dark:backdrop-blur"
  >
    <app-actions-dropdown
      (onEdit)="isEditing = true"
      (onDuplicate)="onDuplicate()"
      (onDelete)="onDelete(todo.id, todo.todoListId)"
    ></app-actions-dropdown>
  </div>
</div>
