<div class="relative">
  <button
    (click)="toggleIconPicker()"
    class="relative flex items-center justify-center gap-2 rounded-lg bg-[#f2f4f7] px-2 py-2 text-sm"
  >
    <div
      [ngClass]="{ 'translate-x-0 opacity-100': isIconPickerOpen }"
      class="absolute -left-6 top-1/2 h-1/2 w-1/2 -translate-x-20 -translate-y-1/2 rounded-1/2 bg-accent-purple-200 opacity-0 blur-2xl transition-all duration-700"
    ></div>

    <app-dona-svg
      twClasses="h-[14px] stroke-2"
      class="stroke-accent-blue-100 stroke-2"
    ></app-dona-svg>
    <i class="ph-bold ph-caret-down text-[10px]"></i>
  </button>

  <div
    *ngIf="isIconPickerOpen"
    class="absolute -left-1 top-[58px] z-10 flex h-[120px] w-[240px] rounded-2xl bg-[#fefefe] px-3 py-5"
  >
    <div class="flex flex-col gap-3 text-sm font-medium">
      <div>
        <span
          class="rounded-lg bg-[#eff2f4] px-2 py-2 text-center text-[#27272b] shadow-sm"
          >Colors
        </span>
      </div>

      <div class="h-full w-full">
        <button
          *ngFor="let color of availableColors"
          class="rounded-[9px] border-2 border-transparent p-[9px] transition-colors hover:border-[#b0b4ba]"
        >
          <div
            [ngClass]="color"
            class="h-[14px] w-[14px] rounded-[5.5px] bg-accent-blue-100"
          ></div>
        </button>
      </div>
    </div>

    <!-- Spacer (Straight line to divide sections) -->

    <!-- Color Picker -->
  </div>
</div>
