<div class="w-full flex flex-col">
  <button
    class="flex items-center gap-2 px-2 py-2 hover:bg-[#f7f8fa] dark:hover:bg-white/5 text-[#27272b] dark:text-white rounded-lg transition-all duration-500"
    (click)="handleEdit()"
  >
    <i class="ph-bold ph-pencil-simple"></i>
    <span class="text-sm">Edit</span>
  </button>

  <button
    class="flex items-center gap-2 px-2 py-2 hover:bg-[#f7f8fa] dark:hover:bg-white/5 text-[#27272b] dark:text-white rounded-lg transition-all duration-500"
    (click)="handleDuplicate()"
  >
    <i class="ph-bold ph-copy-simple"></i>
    <span class="text-sm">Duplicate</span>
  </button>

  <button
    class="flex items-center gap-2 px-2 py-2 hover:bg-[#f7f8fa] dark:hover:bg-white/5 text-[#27272b] dark:text-white rounded-lg transition-all duration-500"
    (click)="handleDelete()"
  >
    <i class="ph-bold ph-trash-simple"></i>
    <span class="text-sm">Delete</span>
  </button>
</div>
