<div
  class="justify-center-center flex w-full flex-col rounded-xl bg-white p-1 shadow transition-opacity duration-700 dark:bg-actionsDropdown-dark dark:shadow-actionsDropdown dark:backdrop-blur"
>
  <button
    class="flex w-full items-center gap-2 rounded-lg px-3 py-[10px] text-[#27272b] transition-all duration-500 hover:bg-[#f7f8fa] dark:text-white dark:hover:bg-white/5"
    (click)="handleEdit()"
  >
    <i class="ph-bold ph-pencil-simple"></i>
    <span class="text-sm">Edit</span>
  </button>

  <button
    class="flex w-full items-center gap-2 rounded-lg px-3 py-[10px] text-[#27272b] transition-all duration-500 hover:bg-[#f7f8fa] dark:text-white dark:hover:bg-white/5"
    (click)="handleDuplicate()"
  >
    <i class="ph-bold ph-copy-simple"></i>
    <span class="text-sm">Duplicate</span>
  </button>

  <button
    class="flex w-full items-center gap-2 rounded-lg px-3 py-[10px] text-[#27272b] transition-all duration-500 hover:bg-[#f7f8fa] dark:text-white dark:hover:bg-white/5"
    (click)="handleDelete()"
  >
    <i class="ph-bold ph-trash-simple"></i>
    <span class="text-sm">Delete</span>
  </button>
</div>
